
$theme: '.ace';
$theme: '.ace.dark.sc-huge-size';


  #{$theme}.button {

    .sc-button-label {
      margin-top:4px;
      height: 30px;
      font-size:13px;
    }


    & > .left {
@extend .__s48_120;
-chance-offset: "resources/button/dark/30px/normal_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s48_121;
-chance-offset: "resources/button/dark/30px/normal_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_122;
-chance-offset: "resources/button/dark/30px/normal_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;

    &.active {
      & > .left {
@extend .__s48_123;
-chance-offset: "resources/button/dark/30px/active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s48_124;
-chance-offset: "resources/button/dark/30px/active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_125;
-chance-offset: "resources/button/dark/30px/active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }

    &.sel, &.def {
      & > .left {
@extend .__s48_126;
-chance-offset: "resources/button/dark/30px/selected_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s48_127;
-chance-offset: "resources/button/dark/30px/selected_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_128;
-chance-offset: "resources/button/dark/30px/selected_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }

    &.sel.active, &.def.active {
      & > .left {
@extend .__s48_129;
-chance-offset: "resources/button/dark/30px/selected_active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s48_130;
-chance-offset: "resources/button/dark/30px/selected_active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_131;
-chance-offset: "resources/button/dark/30px/selected_active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }
  }

  
$theme: '.ace.dark.sc-huge-size.point-left';

    #{$theme}.button {
      & > .left {
@extend .__s48_132;
-chance-offset: "resources/button/dark/30px/normal_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_133;
-chance-offset: "resources/button/dark/30px/normal_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_134;
-chance-offset: "resources/button/dark/30px/normal_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;

      .middle { left: 12px; }

      &.active {
        & > .left {
@extend .__s48_135;
-chance-offset: "resources/button/dark/30px/active_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_136;
-chance-offset: "resources/button/dark/30px/active_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_137;
-chance-offset: "resources/button/dark/30px/active_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; }
      }

      &.sel, &.def {
        & > .left {
@extend .__s48_138;
-chance-offset: "resources/button/dark/30px/selected_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_139;
-chance-offset: "resources/button/dark/30px/selected_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_140;
-chance-offset: "resources/button/dark/30px/selected_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; }
      }

      &.sel.active, &.def.active {
        & > .left {
@extend .__s48_141;
-chance-offset: "resources/button/dark/30px/selected_active_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_142;
-chance-offset: "resources/button/dark/30px/selected_active_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_143;
-chance-offset: "resources/button/dark/30px/selected_active_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; }
      }
    }
  $theme: '.ace.dark.sc-huge-size';


  
$theme: '.ace.dark.sc-huge-size.point-right';

    #{$theme}.button {
      & > .left {
@extend .__s48_132;
-chance-offset: "resources/button/dark/30px/normal_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_133;
-chance-offset: "resources/button/dark/30px/normal_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_134;
-chance-offset: "resources/button/dark/30px/normal_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;

      .middle { right: 12px; }

      &.active {
        & > .left {
@extend .__s48_135;
-chance-offset: "resources/button/dark/30px/active_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_136;
-chance-offset: "resources/button/dark/30px/active_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_137;
-chance-offset: "resources/button/dark/30px/active_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { right: 12px; }
      }

      &.sel, &.def {
        & > .left {
@extend .__s48_138;
-chance-offset: "resources/button/dark/30px/selected_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_139;
-chance-offset: "resources/button/dark/30px/selected_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_140;
-chance-offset: "resources/button/dark/30px/selected_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { right: 12px; }
      }

      &.sel.active, &.def.active {
        & > .left {
@extend .__s48_141;
-chance-offset: "resources/button/dark/30px/selected_active_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .middle {
@extend .__s48_142;
-chance-offset: "resources/button/dark/30px/selected_active_button_pointer_12_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 12px; 
top: 0px; 
right: 12px; 
bottom: 0px; 
}
& > .right {
@extend .__s48_143;
-chance-offset: "resources/button/dark/30px/selected_active_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { right: 12px; }
      }
    }
  $theme: '.ace.dark.sc-huge-size';

$theme: '.ace';

